

input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 18px;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    width: 550px;
  }
  
  input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
  }
  